*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    align-items: center;
    background: grey;
    display: grid;
    font-size: 14px;
    font-weight: 400;
    height: 100mvh;
    justify-items: center;
}
.contoler{
    display: grid;
    grid-template-areas:"left right";
    max-width: 900px;
}
.left{
    background:violet;
    overflow: hidden;
    padding: 40px 0 0 0;
    position: relative;
    text-align: center;
    width: 300px;
}
.left h1{
    /* color: rgba(0, 0, 0, 0.8); */
    display: inline-block;
    font-size: 24px;
}
.left .naruto{
    bottom: -5px;
    position: absolute;
    text-align: center;
}
.left .naruto:before {
    background: #807182;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
.left img {
    filter: sepia(100%);
    width: 70%;
  }
.right {
    background: #f9c7c2;
    display: grid;
    grid-template-areas: "." ".";
    width: 500px;
  }
.right h1:nth-of-type(1) {
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    font-weight: 600;
  }
.right .setform {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.right input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    padding-left: 5px;
}
.right input, .right label {
    color: rgba(0, 0, 0, 0.8);
  }
.right header {
    padding: 40px;
  }
.right label, .right input, .right .upload-photo {
    width: 176px;
  }
.right .upload-photo {
    align-items: center;
    display: grid;
    grid-template-areas: ". .";
  }
.right .upload-photo input {
    border: none;
    border-radius: 50%;
    height: 38px;
    margin-right: 10px;
    outline: none;
    width: 38px;
  }
.right .upload-photo input i {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
  }
.right .Naruto-power .radio-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .right footer {
    align-items: center;
    background: #fff;
    display: grid;
    padding: 5px 40px;
  }
.right footer input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 38px;
    line-height: 38px;
    width: 100px;
    border-radius: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .right footer #back {
    background: #fff;
    transition: 0.2s all ease-in-out;
  }
  .right-box footer #back:hover {
    background: #171A2B;
    color: white;
  }
.right-box footer #next {
    background: #807182;
    border: 1px solid transparent;
    color: #fff;
  }
  .right-box footer #next:hover {
    background: #171A2B;
  }
.naruto-name label, .shipidan-type label, .shipidan-birthday label, .gender label, .pets-spayed-neutered label, .Naruto-power label {
    display: block;
    margin-bottom: 5px;
  }
  .radio-container {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
  }
  .radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.2s all ease-in-out;
    width: 80px;
  }
.radio-container input[type=radio] {
  display: none;
}

.radio-container input[type=radio]:checked + label {
  background: #F7B1AB;
  border: 1px solid rgba(0, 0, 0, 0.1);
}